<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">



            <!-- Start: Topbar -->
            <header id="topbar">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-active">
                            <a href="dashboard">Reservation</a>
                        </li>
                        <li class="crumb-icon">
                            <a href="dashboard">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a href="dashboard">Accueil</a>
                        </li>
                        <li class="crumb-trail">Reservation</li>
                    </ol>
                </div>

            </header>
            <!-- End: Topbar -->

            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->

                <section id="content" class="animated fadeIn">

                    <div class="row table-layout" id="modal-content">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Editer un Utilisateur</h3>
                                </div>

                                <div class="panel-body">
                                    <form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
                                        <div class="form-group">
                                            <label>Email :</label>
                                            <input class="form-control" placeholder="Email" name="email" value="<%= user.email %>">
                                            <label>Mot de passe :</label>
                                            <input class="form-control" placeholder="Password" name="password" value="">
                                            <label>Confirmation du mot de passe :</label>
                                            <input class="form-control" placeholder="Confirmation Password" name="confirm_password" value="" >
                                            <label>Role :</label>
                                            <input class="form-control" placeholder="Role" name="role" value="<%= user.role %>" >
                                        </div>
                                        <input type="submit" class="btn btn-default" value="Submit"</input>
                                        <a href="/user/destroy/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
                                        <input type="hidden" name="_csrf" value="<%=_csrf %>" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </section>
            </section>
            <!-- End: Main -->

            <!-- BEGIN: PAGE SCRIPTS -->

            <!-- jQuery -->
            <script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>
            <script type="text/javascript" src="../vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
            <script type="text/javascript" src="../vendor/plugins/magnific/jquery.magnific-popup.js"></script>

            <!-- Bootstrap -->
            <script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

            <!-- Theme Javascript -->
            <script type="text/javascript" src="../assets/js/utility/utility.js"></script>
            <script type="text/javascript" src="../assets/js/main.js"></script>
            <script type="text/javascript" src="../assets/js/demo.js"></script>


            <script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>
            <script type="text/javascript" src="../vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

            <!-- Bootstrap -->
            <script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

            <!-- Page Plugins -->
            <script type="text/javascript" src="../vendor/plugins/magnific/jquery.magnific-popup.js"></script>

            <!-- Admin Forms Javascript -->
            <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
            <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
            <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
            <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
            <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>

            <!-- Theme Javascript -->
            <script type="text/javascript" src="../assets/js/utility/utility.js"></script>
            <script type="text/javascript" src="../assets/js/main.js"></script>
            <script type="text/javascript" src="../assets/js/demo.js"></script>
