<body class="dashboard-page sb-l-o sb-r-c">



<!-- Start: Main -->
<div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

                <section id="content_wrapper">

                    <header id="topbar">
                        <div class="topbar-left">
                            <ol class="breadcrumb">
                                <li class="crumb-active">
                                    <a href="dashboard">Plan de Table</a>
                                </li>
                                <li class="crumb-icon">
                                    <a href="dashboard">
                                        <span class="glyphicon glyphicon-home"></span>
                                    </a>
                                </li>
                                <li class="crumb-link">
                                    <a href="dashboard">Accueil</a>
                                </li>
                                <li class="crumb-trail">Plan de Table</li>
                            </ol>
                        </div>
                    
                    </header>
                    <!-- End: Topbar -->

                    <!-- Begin: Content -->
                    <section id="content" class="animated fadeIn">

                        <body>

                            <div style="top: 50px; text-align:0center">
                            <h2>
                            <input id="current_title" class="form-field" type="text" name="firstname" value="Titre"/>

                        <script type="text/javascript">
                            window.addEventListener("load", windowLoadHandler, false);

                            // Utils ( to move)

                            function post(path, params, method) {
                                method = method || "post";

                                var form = document.createElement("form");
                                form.setAttribute("id", "cs_check");
                                form.setAttribute("method", method);
                                form.setAttribute("action", path);

                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", "json");
                                hiddenField.setAttribute("value", params);
                                form.appendChild(hiddenField);
/*                                for(var key in params) {
                                    if(params.hasOwnProperty(key)) {
                                        var hiddenField = document.createElement("input");
                                        hiddenField.setAttribute("type", "hidden");
                                        hiddenField.setAttribute("name", key);

                                        hiddenField.setAttribute("value", params[key]);
                                        form.appendChild(hiddenField);
                                     }
                                }*/
                                var csField = document.createElement("input");
                                csField.setAttribute("type", "hidden");
                                csField.setAttribute("name", "_csrf");
                                csField.setAttribute("value", '<%= _csrf %>');
                                form.appendChild(csField);

/*                                for (var i = 0; i < form.length; i++) {
                                    console.log("Value to send " + form[i].value);
                                }*/

                                document.body.appendChild(form);
                                
                                form.submit();
                            }

                            //For debug messages
                            var Debugger = function() { };
                            var result;
                            var iteration;
                            var save_reference;
                            var erase_reference;
                            var id_reference;

                            Debugger.log = function(message) {
                                try {
                                    console.log(message);
                                }
                                catch (exception) {
                                    return;
                                }
                            }

                            function windowLoadHandler() {
                                result = [];
                                iteration = 0;
                                canvasApp();
                            }

                            /*function canvasSupport() {
                                return Modernizr.canvas;
                            }*/


                            window.onload = function(type){ 

                                function update_buttons(type) {
                                    add_board_select(type);
                                    var resultLength = result.length;
                                    for (var i = 0; i < resultLength; i++) {
                                        document.getElementById("board_" + (i)).innerHTML = result[i].title;
                                    }
                                }



                                //add_board_select(type);
                            };


                            function canvasApp(saved_instance) {
                                
                                var theCanvas = document.getElementById("canvasOne");
                                var context = theCanvas.getContext("2d");
                                var current_id = iteration;
                                var start_title = document.getElementById("current_title").value;

                                init(saved_instance);
                                
                                var currentShape;

                                var stepX;
                                var stepY;

                                var createdShape;
                                var numShapes;
                                var shapes;

                                var dragIndex;
                                var dragging;
                                var mouseX;
                                var mouseY;
                                var dragHoldX;
                                var dragHoldY;
                                var timer;
                                var targetX;
                                var targetY;
                                var easeAmount;  

                                function init(saved_instance) {

                                    erase_reference = erase_all;
                                    id_reference = current_id;
                                    iteration++;

                                    numShapes = 5;
                                    easeAmount = 0.7;
                                    stepX = 12;
                                    stepY = 12;
                                    createdShapes = numShapes;

                                    shapes = [];
                                    
                                    if (saved_instance !== undefined) {
                                        numShapes = 0;
                                        makeShapes();

                                        stepX = saved_instance.stepX;
                                        stepY = saved_instance.stepY;
                                        numShapes = saved_instance.numShapes;
                                        shapes = saved_instance.position;
                                        createdShapes = numShapes;
                                        
                                    } else {
                                      makeShapes();
                                    }
                                    
                                    drawScreen();
                                    
                                    theCanvas.addEventListener("mousedown", mouseDownListener, false);
                                    theCanvas.addEventListener("dblclick", onClickListener, false);
                                }
                                
                                function makeShapes() {
                                    var tempX;
                                    var tempY;
                                    var tempA;
                                    var tempColor;
                                    for (i=0; i < numShapes; i++) {

                                        tempX = theCanvas.width / stepX;
                                        tempY = theCanvas.height / stepY;
                                        
                                        tempA = 0.3 + 0.5*Math.random();

                                        //randomly select either a circle or a square
                                        tempShape = new SimpleSquareParticle(tempX, tempY, i);
                                        
                                        tempShape.color = "rgba(" + 0 + "," + 0+ "," + 0 + "," + 0.7+ ")";
                                        tempShape.radiusX = (theCanvas.width / stepX) / 2;
                                        tempShape.radiusY = (theCanvas.height / stepY) / 2;
                                        shapes.push(tempShape);
                                    }
                                }

                                function remakeShapes(saved_shapes) {
                                    var tempX;
                                    var tempY;
                                    var tempA;
                                    var tempColor;
                                    numShapes = saved_shapes.length;
                                    for (i=0; i < numShapes; i++) {

                                        tempX = theCanvas.width / stepX;
                                        tempY = theCanvas.height / stepY;
                                        
                                        tempA = 0.3 + 0.5*Math.random();

                                        //randomly select either a circle or a square
                                        console.log(JSON.stringify(saved_shapes[i]));
                                        tempShape = new SimpleSquareParticle(saved_shapes[i].posx, saved_shapes[i].posy, saved_shapes[i].name);
                                        console
                                        tempShape.color = "rgba(" + 0 + "," + 0+ "," + 0 + "," + 0.7+ ")";
                                        tempShape.radiusX = (theCanvas.width / stepX) / 2;
                                        tempShape.radiusY = (theCanvas.height / stepY) / 2;
                                        shapes.push(tempShape);
                                    }
                                }
                                

                                function mouseDownListener(evt) {
                                    var i;
                                    
                                    var bRect = theCanvas.getBoundingClientRect();
                                    mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width);
                                    mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height);
                                    //console.log(shapes);

                                    for (i=0; i < numShapes; i++) {
                                        if (shapes[i].hitTest(mouseX, mouseY)) {    
                                            dragging = true;
                                            dragIndex = i;
                                        }
                                    }
                                    
                                    if (dragging) {
                                        window.addEventListener("mousemove", mouseMoveListener, false);
                                        
                                        //place currently dragged shape on top
                                        shapes.push(shapes.splice(dragIndex,1)[0]);
                                        
                                        dragHoldX = mouseX - shapes[numShapes-1].x;
                                        dragHoldY = mouseY - shapes[numShapes-1].y;
                                        
                                        targetX = mouseX - dragHoldX;
                                        targetY = mouseY - dragHoldY;
                                        //console.log(mouseX + " - " + mouseY);
                                        //start timer
                                        timer = setInterval(onTimerTick, 1000/30);
                                    }
                                    //window.removeEventListener("mousemove", mouseMoveListener, false);
                                    theCanvas.removeEventListener("mousedown", mouseDownListener, false);
                                    window.addEventListener("mouseup", mouseUpListener, false);
                                    
                                    if (evt.preventDefault) {
                                        evt.preventDefault();
                                    }
                                    else if (evt.returnValue) {
                                        evt.returnValue = false;
                                    }
                                    return false;
                                }
                                
                                function onTimerTick() {
                                    shapes[numShapes-1].x = shapes[numShapes-1].x + easeAmount*(targetX - shapes[numShapes-1].x);
                                    shapes[numShapes-1].y = shapes[numShapes-1].y + easeAmount*(targetY - shapes[numShapes-1].y);
                                    if ((!dragging)&&(Math.abs(shapes[numShapes-1].x - targetX) < 0.1) && (Math.abs(shapes[numShapes-1].y - targetY) < 0.1)) {
                                        shapes[numShapes-1].x = targetX;
                                        shapes[numShapes-1].y = targetY;
                                        clearInterval(timer);
                                    }
                                    //console.log(targetX);
                                    //console.log(targetY);

                                    drawScreen();
                                }

                                function closest (target, size, step_tmp) {
                                            var step_length = size / step_tmp;
                                            var arr = new Array();

                                            var it = 0;
                                            for (i = 0; i < size;i += step_length) {
                                                arr[it] = i;
                                                it++;
                                            }

                                            var curr = arr[0];

                                            //console.log(arr);
                                            var diff = Math.abs (target - curr);
                                            for (var val = 0; val < arr.length; val++) {
                                                var newdiff = Math.abs (target - arr[val]);
                                                if (newdiff < diff) {
                                                    diff = newdiff;
                                                    curr = arr[val];
                                                }
                                            }
                                            //console.log(curr);
                                            return curr;
                                }
                                
                                function onClickListener(evt) {
                                    var i;
                                    
                                    var bRect = theCanvas.getBoundingClientRect();
                                    mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width);
                                    mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height);
                                            
                                    for (i=0; i < numShapes; i++) {
                                        if (shapes[i].hitTest(mouseX, mouseY)) {    
                                            make_info(shapes[i]);
                                        }
                                    }
                                }

                                function make_info(table) {
                                    currentShape = table;
                                    document.getElementById('myModalLabel').innerHTML = "Table n°" + currentShape.number;
                                    document.getElementById('myModalTNumber').innerHTML = "Modifier numéro de table";
                                    document.getElementsByName('queryN')[0].placeholder = currentShape.number;
                                    document.getElementById('myModalTServer').innerHTML = "Modifier serveur affécté à la table";
                                    document.getElementsByName('queryS')[0].placeholder = currentShape.server;
                                    document.getElementById('myModalNDish').innerHTML = "Modifier nombre de couverts";
                                    document.getElementsByName('queryD')[0].placeholder = currentShape.dish;
                                    $('#myModal').modal('show');
                                }


                                function mouseUpListener(evt) {
                                    theCanvas.addEventListener("mousedown", mouseDownListener, false);
                                    window.removeEventListener("mouseup", mouseUpListener, false);
                                    if (dragging) {
                                        dragging = false;
                                        window.removeEventListener("mousemove", mouseMoveListener, false);
                                        targetX = closest(targetX - (theCanvas.width / stepX / 2), theCanvas.width, stepX) + (theCanvas.width / stepX / 2);
                                        targetY = closest(targetY - (theCanvas.height / stepY / 2), theCanvas.height, stepY) + (theCanvas.width / stepX / 2);
                                    }
                                }

                                function mouseMoveListener(evt) {
                                    var posX;
                                    var posY;
                                    var shapeRadX = shapes[numShapes-1].radiusX;
                                    var shapeRadY = shapes[numShapes-1].radiusY;
                                    var minX = shapeRadX;
                                    var maxX = theCanvas.width - shapeRadX;
                                    var minY = shapeRadY;
                                    var maxY = theCanvas.height - shapeRadY;
                                    
                                    var bRect = theCanvas.getBoundingClientRect();
                                    mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width);
                                    mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height);
                                    posX = mouseX - dragHoldX;
                                    posX = (posX < minX) ? minX : ((posX > maxX) ? maxX : posX);
                                    posY = mouseY - dragHoldY;
                                    posY = (posY < minY) ? minY : ((posY > maxY) ? maxY : posY);
                                    
                                    targetX = posX;
                                    targetY = posY;
                                }
                                    
                                function drawShapes() {
                                    var i;
                                    for (i=0; i < numShapes; i++) {
                                        shapes[i].drawToContext(context);
                                    }
                                }

                                //Button Bindings
                                
                                function add_table() {
                                        tempX = theCanvas.width / stepX;
                                        tempY = theCanvas.height / stepY;
                                        //console.log(shapes);
                                        tempA = 0.7;

                                        tempShape = new SimpleSquareParticle(tempX, tempY, createdShapes);
                                        
                                        tempShape.color = "rgba(" + 0 + "," + 0+ "," + 0 + "," + tempA + ")";
                                        tempShape.radiusX = (theCanvas.width / stepX) / 2;
                                        tempShape.radiusY = (theCanvas.height / stepY) / 2;
                                        shapes.push(tempShape);
                                        numShapes++;
                                        createdShapes++;
                                        tempShape.drawToContext(context);
                                }

                                document.getElementById('add_table').onclick = function() {
                                    add_table();
                                }

                                function add_rowx() {

                                    var tmpx = theCanvas.width / stepX;
                                    theCanvas.width += tmpx;
                                    stepX++;

                                    drawScreen();
                                }

                                document.getElementById('add_rowx').onclick = function() {
                                    add_rowx();
                                }

                                function add_rowy() {

                                    var tmpy = theCanvas.height / stepY;
                                    theCanvas.height += tmpy;
                                    stepY++;

                                    drawScreen();
                                }

                                document.getElementById('add_rowy').onclick = function() {
                                    add_rowy();
                                }

                                function rm_rowx() {

                                    var tmpx = theCanvas.width / stepX;
                                    theCanvas.width -= tmpx;
                                    stepX--;

                                    drawScreen();
                                }

                                document.getElementById('rm_rowx').onclick = function() {
                                    rm_rowx();
                                }

                                function rm_rowy() {

                                    var tmpy = theCanvas.height / stepY;
                                    theCanvas.height -= tmpy;
                                    stepY--;
                                    drawScreen();
                                }

                                document.getElementById('rm_rowy').onclick = function() {
                                    rm_rowy();
                                }

                                function save_board() {
                                    var cShapes = numShapes;
                                    var title = document.getElementById('current_title').value;
                                    var prepare = {"title":title, "dimX":stepX, "dimY":stepY, "numShapes":cShapes, "position":shapes};

                                    console.log(result);
                                    var resultLength = result.length;
                                    for (var i = 0; i < resultLength; i++) {
                                        if (result[i].title.localeCompare(title) == 0) {
                                            alert("Le titre a sauvegarder existe déja.");
                                            return -1;
                                        }
                                    }
                                    console.log('tryin to save');
                                    console.log(prepare);
                                    var tbprepare = [];
                                    for (var i = 0;i < numShapes;i++) {
                                        tbprepare[i] = {"name":shapes[i].number,
                                                            "plan":title,
                                                            "waiters":shapes[i].server,
                                                            "dishes":shapes[i].dish,
                                                            "posx":shapes[i].x,
                                                            "posy":shapes[i].y};
                                        console.log('tryin to save table');
                                    }
                                    prepare["position"] = tbprepare;
                                    prepare = JSON.stringify(prepare);
                                    post('/plan/create', prepare);
                                    result[current_id] = prepare;
                                }

                                document.getElementById('save_board').onclick = function() {
                                    save_board();
                                }

                                function update_board() {
                                    var cShapes = numShapes;
                                    var title = document.getElementById('current_title').value;
                                    var prepare = {"old_title":start_title, "title":title, "dimX":stepX, "dimY":stepY, "numShapes":cShapes, "position":shapes};

                                    var tbprepare = [];
                                    for (var i = 0;i < numShapes;i++) {
                                        tbprepare[i] = {    
                                                            "name":shapes[i].number,
                                                            "plan":title,
                                                            "waiters":shapes[i].server,
                                                            "dishes":shapes[i].dish,
                                                            "posx":shapes[i].x,
                                                            "posy":shapes[i].y};
                                    }
                                    prepare["position"] = tbprepare;
                                    prepare = JSON.stringify(prepare);
                                    post('/plan/update', prepare);
                                    result[current_id] = prepare;
                                }

                                document.getElementById('update_board').onclick = function() {
                                    update_board();
                                }

/*                                function new_board() {
                                    save_board();
                                    update_buttons("generic_type");
                                    erase_reference();
                                    canvasApp();
                                }

                                document.getElementById('new_board').onclick = function() {
                                    new_board();
                                }*/

                                function set_board(arg) {
                                    var tablesModelView = [];
                                    var tmp_pname = arg["title"]
                                    alert("passage vers " + arg["title"]);
                                    <% _.each(tables_collection, function(table) { %>
                                        var tmp_table = {"name":"<%=table.name%>", "plan":"<%=table.plan%>", "waiters":"<%=table.waiters%>","dishes":"<%=table.dishes%>","posx":<%=table.posx%>,"posy": <%=table.posy%>};
                                        var tmp_tname = tmp_table["plan"];
                                        if (tmp_tname.localeCompare(tmp_pname) == 0) {
                                            tablesModelView.push(tmp_table);
                                        }
                                    <% }) %>
                                    //erase_all();
                                    numShapes = arg["numShapes"];
                                    stepX = arg["dimX"];
                                    theCanvas.width = stepX * 50;
                                    stepY = arg["dimY"];
                                    theCanvas.height = stepY * 50;
                                    createdShapes = numShapes;

                                    shapes = [];
                                    remakeShapes(tablesModelView);
                                    drawScreen();
                                    $('#current_title').attr('value',tmp_pname);
                                    start_title = tmp_pname;
                                }

                                <% _.each(plans_collection, function(plan) { %>
                                    console.log("making to <%= plan.name %>");
                                    document.getElementById("board_<%= plan.name %>").onclick = function() {
                                        console.log("making to <%= plan.name %>");
                                        var planViewModel = {"title":"<%= plan.name %>", "dimX":"<%= plan.dimX %>", "dimY":"<%= plan.dimY %>", "numShapes":"<%= plan.numShapes %>"};
                                        set_board(planViewModel);
                                    }
                                <% }) %>
                                // Table menu buttons

                                function erase_table() {
                                    var index = shapes.indexOf(currentShape);
                                    shapes[index].color = "rgba(255, 255, 255, 1)";
                                    shapes[index].drawToContext(context);
                                    shapes.splice(index, 1);
                                    numShapes--;
                                }

                                document.getElementById('erase_table').onclick = function() {
                                    erase_table();
                                }


                                function submitTNumForm() {
                                    currentShape.number = document.getElementsByName('queryN')[0].value;
                                    document.getElementsByName('queryN')[0].value = "";
                                    $('#myModal').modal('toggle');
                                    make_info(currentShape);
                                }

                                document.getElementById('sub_num').onclick = function() {
                                    submitTNumForm();
                                }


                                function submitServForm() {
                                    //console.log(document.getElementsByName('queryS')[0].value);
                                    currentShape.server = document.getElementsByName('queryS')[0].value;
                                    document.getElementsByName('queryS')[0].value = "";
                                    $('#myModal').modal('toggle');
                                    make_info(currentShape);
                                }

                                document.getElementById('sub_serv').onclick = function() {
                                    submitServForm();
                                }

                                function submitNDishForm() {
                                    currentShape.dish = document.getElementsByName('queryD')[0].value;
                                    document.getElementsByName('queryD')[0].value = "";
                                    $('#myModal').modal('toggle');
                                    make_info(currentShape);
                                }

                                document.getElementById('sub_dish').onclick = function() {
                                    submitNDishForm();
                                }
                                function erase_table() {
                                    var index = shapes.indexOf(currentShape);
                                    shapes[index].color = "rgba(255, 255, 255, 1)";
                                    shapes[index].drawToContext(context);
                                    shapes.splice(index, 1);
                                    numShapes--;
                                }

                                //Draw

                                function drawScreen() {
                                    context.fillStyle = "#ffffff";
                                    context.fillRect(0,0,theCanvas.width,theCanvas.height);
                                    var x = theCanvas.width / stepX;
                                    var y = theCanvas.height / stepY;
                                    for (i = 0;i < stepX; i++) {
                                        for (j = 0;j < stepY; j++) {
                                            context.strokeRect(i * x,j * y,i*x + x,j *y + y);
                                        }
                                    }
                                    
                                    
                                    drawShapes();       
                                }

                                function erase_all() {
                                    context.clearRect(0, 0, theCanvas.width, theCanvas.height);
                                    numShapes = 0;
                                    stepX = 0;
                                    stepY = 0;
                                    createdShapes = numShapes;

                                    shapes = [];
                                }

                                $("#myformNum").submit(function(e) {
                                e.preventDefault();
                                });

                                $("#myformServ").submit(function(e) {
                                e.preventDefault();
                                });

                            }

                        </script>


                                
                                <div id="board_selector">
                                    <div id="board_list">
                                        <!-- <button id="board_0" class="board_select">Titre</button> -->
                                        <% _.each(plans_collection, function(plan) { %>
                                            <button id="board_<%= plan.name %>" class="board_select"><%= plan.name %></button>
                                        <% }) %>
                                        <button id="save_board" class="board_select" onClick="save_board()">+</button>
                                    </div>
                                    
                                </div>

                            </h2>
                            <canvas id="canvasOne" width="600" height="600" style="border:1px solid black">
                            Your browser does not support HTML5 canvas.
                            </canvas>
                                <div>
                                <button id="add_table" onclick="add_table()">Ajouter Table</button>
                                <button id="add_rowy" class="managing_board_btn" onclick="add_clmn()">Ajouter Colonne </button>
                                <button id="add_rowx" class="managing_board_btn" onclick="add_row()">Ajouter ligne</button>
                                <button id="rm_rowy" class="managing_board_btn" onclick="rm_clmn()">Supprimer Colonne</button>
                                <button id="rm_rowx" class="managing_board_btn" onclick="rm_row()">Supprimer ligne</button>
                                <button id="update_board" onclick="update_board()">Sauvegarder plan de salle</button>
                                <a href="/plan/destroyAll" class="btn btn-sm btn-danger">Supprimer les plans</a>
                            </div>
                            </div>

                        </body>
                </section>
            </section>
    </div>

</body>
<div id="modal_placeholder">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="top:15%">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Caractéristiques de Table</h4>
          </div>
          <div class="modal-body" id="mod-body">
            <p id="myModalTNumber"></p>
            <form id="myformNum">
                <input type='text' name='queryN' placeholder="">
                <button type="button" id="sub_num" onclick="submitTNumForm()">Confirmer</button>
                <!-- <a href="javascript: submitTNumForm()">Submit</a> -->
            </form></br>
            <p id="myModalTServer"></p>
            <form id="myformServ">
                <input type='text' name='queryS' placeholder="">
                <button type="button" id="sub_serv" onclick="submitServForm()">Confirmer</button>
                <!-- <a href="javascript: submitServForm()">Submit</a> -->
            </form></br>
            <p id="myModalNDish"></p>
            <form id="myformDish">
                <input type='text' name='queryD' placeholder="">
                <button type="button" id="sub_dish" onclick="submitNDishForm()">Confirmer</button>
                <!-- <a href="javascript: submitTNumForm()">Submit</a> -->
            </form></br>
            </br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary" id="erase_table" data-dismiss="modal" onclick="erase_table()">Effacer Table</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->

        <!-- JQuery -->

<script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>

        <!-- Bootstrap -->

<script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

        <!-- Theme Javascript -->

<script type="text/javascript" src="../assets/js/utility/utility.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/demo.js"></script>

<!-- Ressources : ModelView -->

<script type="text/javascript" src = "/res/SimpleDiskParticle.js"></script>
<script type="text/javascript" src = "/res/SimpleSquareParticle.js"></script>
            


