<body class="dashboard-page sb-l-o sb-r-c">
<style>

   .col-adjust-8 {
    padding: 0 15px;
}
h4 {text-align: center!important; width:100% !important; }
@media (max-width: 700px) {
h4 {margin-left:0%; }
    .col-adjust-8 code {
        display: none;
    }
    .col-adjust-8 > .row > div {
        width: 100%;
        margin-bottom: 10px;
    }
    .hero-content{
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .hero-content .col-adjust-8 h3,
    .hero-content .col-adjust-8 > .row:first-child > div {
        margin-bottom: 0px !important;
    }
    .col-adjust-8.demo-btn-groups > .row > div,
    .col-adjust-8.demo-btn-dropdowns > .row > div,
    .col-adjust-8.demo-btn-ladda > .row > div {
        width: 33%;
        margin-bottom: 10px;
    }
    .col-adjust-8.demo-btn-ladda > .row > div > .btn {
        min-width: 100px;
    } 
}
</style>

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">



            <!-- Start: Topbar -->
            <% include ../ariane.ejs %>
            <!-- End: Topbar -->
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Ajouter un plat</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="/dish/update" method="POST">
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom</label>
                                        <div class="col-lg-8">
                                            <input value="<%= dish.name %>" type="text" name="name" class="form-control">
                                        </div>
                                    </div>                                   
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Prix</label>
                                        <div class="col-lg-8">
                                            <input value="<%= dish.price %>"  type="number" name="price" class="form-control">
                                        </div>
                                    </div>
  <div class="form-group">
                                    <center><h4 for="inputStandard" class="col-lg-3 control-label">Categories</h4></center>
                                </div>                                    
                                <div class="form-group">
                                    <div class="col-adjust-8 mb30">
                                        <div class="row mt20 text-center">
                                               <% _.each(categories, function(category) { %>
                                               <% select = "default" %>
                                               <% _.each(dish.categories, function(category_id) { %>
                                               <% if (category_id.id == category.id) { %>
                                               <% select = "success" %>
                                               <%    } %>    
                                               <% }) %>
                                        <div class="col-xs-2">
                                            <button type="button" cat-id="<%= category.id %>" class="btn btn-xs btn-<%= select %> btn-block categories"><%= category.real_name %></button>
                                        </div>
                                               <% }) %>           
                                    </div>
                                </div>
                            </div>
                                            <select id="categories" name="categories_ids" style="display:none" multiple="multiple">
                                               <% _.each(categories, function(category) { %>
                                               <% select = "" %>
                                               <% _.each(dish.categories, function(category_id) { %>
                                               <% if (category_id.id == category.id) { %>
                                               <% select = "selected" %>
                                               <%    } %>    
                                               <% }) %>
                                               <option <%= select %> value="<%= category.id %>"><%= category.name %></option>               
                                               <% }) %>                 
                                           </select>
                                       
  <div class="form-group">
   <select  style="display:none" id="optcats" name="optcats_ids" multiple="multiple">
                                           <% _.each(optcats, function(category) { %>
                                           <% select = "" %>
                                           <% _.each(dish.optcats, function(category_id) { %>
                                           <% if (category_id.id == category.id) { %>
                                           <% select = "selected" %>
                                           <%    } %>                    
                                           <% }) %>
                                           <option <%= select %> value="<%= category.id %>"><%= category.name %></option>
                                           <% }) %>              
                                       </select>                                  <center><h4 for="inputStandard" class="col-lg-3 control-label">Categories des options</h4></center>
                                </div>                               
                                <div class="form-group">
                                    <div class="col-adjust-8 mb30">
                                        <div class="row mt20 text-center">
                                          <% _.each(optcats, function(category) { %>
                                           <% select = "default" %>
                                           <% _.each(dish.optcats, function(category_id) { %>
                                           <% if (category_id.id == category.id) { %>
                                           <% select = "success" %>
                                           <%    } %>                    
                                           <% }) %>
                                        <div class="col-xs-2">
                                            <button type="button" cat-id="<%= category.id %>" class="btn btn-xs btn-<%= select %> btn-block optcats"><%= category.name %></button>
                                        </div>
                                               <% }) %>           
                                    </div>
                                </div>
                            </div>                                                                  
                               <input value="<%= dish.id %>"  type="hidden" name="id">

                               <div class="form-group">
                                <label for="inputStandard" class="col-lg-3 control-label"></label>
                                <div class="col-lg-8">
                                    <input type="submit" value="Mettre à jour" class="form-control btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>


</div>



<!-- jQuery -->
<script type="text/javascript" src="/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="/assets/js/utility/utility.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/demo.js"></script>


<script type="text/javascript" src="/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Page Plugins -->
<script type="text/javascript" src="/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

<!-- Admin Forms Javascript -->
<script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
<script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
<script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
<script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
<script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="/assets/js/utility/utility.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/demo.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    "use strict";
    Core.init();
    
    $("button").click(function(){
        if ($(this).hasClass("optcats"))
            var typ = "optcats";
        else
            var typ = "categories";
        if ($(this).hasClass("btn-default")) {
           $("#" + typ).append('<option selected value="'+ $(this).attr('cat-id') +'"></option>');
            $(this).removeClass("btn-default").addClass("btn-success");
        }
        else {
            $("#"+typ+" option[value='"+$(this).attr('cat-id')+"']").remove();
            $(this).removeClass("btn-success").addClass("btn-default");
        }
    });

});
</script>
