<body class="dashboard-page sb-l-o sb-r-c">
<style>

   .col-adjust-8 {
    padding: 0 15px 1px;
}
button {
    margin-bottom: 10px !important;
}
h4 {text-align: center!important; width:100% !important; }
@media (max-width: 700px) {
h4 {margin-left:0%; }
    .col-adjust-8 code {
        display: none;
    }
    .col-adjust-8 > .row > div {
        width: 100%;
        margin-bottom: 10px;
    }
    .hero-content{
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .hero-content .col-adjust-8 h3,
    .hero-content .col-adjust-8 > .row:first-child > div {
        margin-bottom: 0px !important;
    }
    .col-adjust-8.demo-btn-groups > .row > div,
    .col-adjust-8.demo-btn-dropdowns > .row > div,
    .col-adjust-8.demo-btn-ladda > .row > div {
        width: 33%;
        margin-bottom: 10px;
    }
    .col-adjust-8.demo-btn-ladda > .row > div > .btn {
        min-width: 100px;
    } 
}
</style>
    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <div class="hidden-compo-form" style="display:none;">
             <div class="form-group">
                <label for="name" class="col-lg-3 control-label">Nom</label>
                <div class="col-lg-8">
                    <input type="text" name="name" class="form-control composition-name">
                </div>
            </div>
            <div class="form-group">
                <label for="position" class="col-lg-3 control-label">Position</label>
                <div class="col-lg-8">
                    <input type="number" name="position" class="form-control composition-position">
                </div>
            </div>  

      <div class="form-group">
                                    <center><h4 for="inputStandard" class="col-lg-3 control-label">Categories</h4></center>
                                </div>
                                <div class="form-group">
                                    <div class="col-adjust-8 mb30">
                                        <div class="row mt20 text-center">
                                        <% _.each(dish_category, function(category) { %>
                                        <div class="col-xs-2">
                                            <button type="button" cat-id="<%= category.id %>" class="btn btn-xs btn-default btn-block categories"><%= category.real_name %></button>
                                        </div>
                                        <% }) %>              
                                    </div>
                                </div>
                     
                            </div>

        </div>

        <!-- Start: Topbar -->
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="/menu/create">Menu</a>
                    </li>
                    <li class="crumb-icon">
                        <a href="/dashboard">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    
                </ol>
            </div>

        </header>
        <!-- End: Topbar -->
        <!-- Begin: Content -->
        <section id="content" class="animated fadeIn">
            <!-- Dashboard Tiles -->
            <div class="row">
                <div class="col-md-12">
        <% include ../alert.ejs %>
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Modifier un menu</span>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" action="/menu/update" method="POST">
                                <div class="form-group">
                                    <label for="inputStandard" class="col-lg-3 control-label">Nom du menu</label>
                                    <div class="col-lg-8">
                                        <input value="<%= menu.name %>" type="text" name="menu_name" value="" class="form-control">
                                    </div>
                                </div>   
                                <div class="form-group">
                                    <label for="inputStandard" class="col-lg-3 control-label">Prix</label>
                                    <div class="col-lg-8">
                                        <input value="<%= menu.price %>" type="text" name="price" value="" class="form-control">
                                    </div>
                                </div>                                                            
       <select style="display:none;" id="categories" name="categories_ids" multiple="multiple"></select>
                                       <div class="form-group">
                                    <center><h4 for="inputStandard" class="col-lg-3 control-label">Composition</h4></center>
                                </div>
                                <div class="form-group">
                                    <!-- <label for="inputStandard" class="col-lg-3 control-label">Menu composition</label> -->
                                    <div id="composition-menu" class="col-adjust-8 mb30">
                                        <div class="row mt20 text-center">
                                       <% _.each(selected_compositions, function(selected_composition) { %>
                                        <div class="col-xs-2" style="text-align:center;"><%= selected_composition.name %> 
                                                <% _.each(selected_composition.categories, function(cat) {%>
                                                 <button type="button" id-composition="<%= selected_composition.id %>" class="btn disabled btn-xs btn-info btn-block " style="float:right !important"><%= cat.real_name %></button>
                                                <% }) %>
                                            <button type="button" id-composition="<%= selected_composition.id %>" class="btn btn-xs btn-danger btn-block delete-composition" >Supprimer</button>

                                        </div>
                                        <% }) %>
                                    
                                    </div>
                                </div>
                                </div>
                                <div class="add-one"></div>
                                <div class="form-group">
                                    <label for="inputStandard" class="col-lg-3 control-label"></label>
                                    <div class="col-lg-8">
                                        <button type="submit" class="form-control button btn-info" id="add-one">Ajouter une composition</button>
                                    </div>
                                </div>
                                <input type="hidden" value="<%= menu.id %>" name="id">
                                <div class="form-group">
                                    <label for="inputStandard" class="col-lg-3 control-label"></label>
                                    <div class="col-lg-8">
                                        <input type="submit" value="Mettre a jour" class="form-control button btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="/assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/demo.js"></script>


    <!-- Page Plugins -->
    <script type="text/javascript" src="/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

    <!-- Admin Forms Javascript -->
    <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
    <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
    <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
    <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
    <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>
  
    <script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

            // Init Theme Core     
            Core.init();

            // Init Demo JS

            Demo.init();

        $("html").on('click', ".categories",function(){
            if ($(this).hasClass("btn-default")) {
               $("#categories").append('<option selected value="'+ $(this).attr('cat-id') +'"></option>');
               console.log("toto");
                $(this).removeClass("btn-default").addClass("btn-success");
            }
            else {
                $("#categories option[value='"+$(this).attr('cat-id')+"']").remove();
                $(this).removeClass("btn-success").addClass("btn-default");
            }
        });


            $(".delete-composition").click(function(e){
                console.log($(this).attr("id-composition"));
                io.socket.post('/menucomposition/delete', {id:$(this).attr("id-composition")});
                $(this).parent().remove();            
            });

            $("#add-one").click(function(e){
                e.preventDefault();
                console.log($(this).hasClass("a-valider"));
                if ($(this).hasClass("a-valider")) {
                    ""
                    var name = $(".add-one .composition-name").val();
                    var price = $(".add-one .composition-price").val();
                    var position = $(".add-one .composition-position").val();
                    var categories_ids = $("#categories").val();
                    var res =  io.socket.post('/menucomposition/create', 
                        {menu_id:"<%= menu.id %>",
                        name:name,
                        price:price, 
                        position:position,
                        categories_ids:categories_ids});   

                    io.socket.get('/menucomposition/read?id=<%= menu.id %>', function (body, response) {
                        window.location.replace(window.location.href );
                    });

                    $(this).text("Ajouter une composition");
                    $(":input [name=name]").val("");
                    $(":input [name=price]").val("");
                    $("option:selected").removeAttr("selected");    
                    $(this).removeClass("a-valider");
                    $(this).removeClass("btn-success");
                    $(this).addClass("btn-info");
                    $(".add-one").hide();
                    return ;
                }
                else {
                    $(this).text("Valider la composition");
                    $(this).addClass("a-valider");
                    $(this).removeClass("btn-info");
                    $(this).addClass("btn-success");
                    $(".add-one").show();
                }
                $(".add-one").html($(".hidden-compo-form").html());
            });
});
</script>