<body class="dashboard-page sb-l-o sb-r-c">
    
    <!-- Start: Main -->
    <div id="main">
        
        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>
        
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            
            
            
            <!-- Start: Topbar -->
            <header id="topbar">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-active">
                            <a href="">Options</a>
                        </li>
                        <li class="crumb-icon">
                            <a href="/dashboard">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a href="dashboard">Accueil</a>
                        </li>
                        <li class="crumb-trail">Facturation</li>
                    </ol>
                </div>
                
            </header>
            <!-- End: Topbar -->
            
            
            
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->

                <div class="col-md-12">
                    <div class="panel-heading">
                        <span class="panel-title">Factures :</span>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <% var num = 1 %>
                        <% _.each(orders, function(order) { %>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="heading<%= num %>">
                                <div class="row">
                                    <div class="col-md-3">Table : <%= order.table_id %></div>
                                    <div class="col-md-3">Nb personnes : <%= order.dinerNumber %></div>
                                    <div class="col-md-3">Heure création : <%= order.time %></div>
                                    <div class="col-md-3"><a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= num %>" aria-expanded="true" aria-controls="collapse<%= num %>" class="btn btn-sm btn-warning">Voir</a></div>
                                </div>
                            </div>
                            <div id="collapse<%= num %>" class="panel-collapse collapse <% if (num != 1) { %>in<% } %>" role="tabpanel" aria-labelledby="heading<%= num %>">
                                <table class="table table-striped">
                                    <tr>
                                        <td>Description</td>
                                        <td>Quantité</td>
                                        <td>Prix Unité</td>
                                        <td>Montant</td>
                                        <td></td>
                                    </tr>
                                    <% var result = 0 %>
                                    <% _.each(products, function(product) { %>
                                    <% if (product.order && (order.id == product.order.id)) { %>
                                    <tr data-id="<%= order.id %>" data-model="order">
                                        <% if (product.menu && product.menu.name) { %>
                                        <td><%= product.menu.name %></td>
                                        <td><%= product.qty %></td>
                                        <td><%= product.menu.price %> €</td>
                                        <td><%= product.menu.price * product.qty %> €</td>
                                        <td></td>
                                        <% result += product.menu.price * product.qty %>
                                        <% } %>
                                    </tr>
                                    <% } %>
                                    <% }); %>
                                    <tr>
                                        <td>Total HT:</td>
                                        <td></td>
                                        <td></td>
                                        <td><%= result %> €</td>
                                        <td><a href="/bill/print/<%= order.id %>" class="btn btn-sm btn-warning">Imprimer</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <% num = num + 1 %>
                        <% }); %>
                        
                    </div>
                </div>
            </section>
                                
<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../vendor/plugins/magnific/jquery.magnific-popup.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="../assets/js/utility/utility.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/demo.js"></script>


<script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Page Plugins -->
<script type="text/javascript" src="../vendor/plugins/magnific/jquery.magnific-popup.js"></script>

<!-- Admin Forms Javascript -->
<script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
<script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
<script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
<script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
<script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="../assets/js/utility/utility.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/demo.js"></script>
<script>$('.collapse').collapse()</script>